a {
  cursor: pointer;
}
.all-products {
  min-height: 100vh;
}
.products-title {
  padding: 0 0 2% 0;
}
.products-section {
  display: flex; 
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  margin: -2% 0 0 0;
}
.side-section {
  font-weight: bold;
  display: flex; 
  width: 15%;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding: 2% 0 2% 20px;
}
.side-section a{
  margin: 5px 0;
}
.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.products-section {
  background-color: #e2d3b7;
  padding: 2% 0;
}

.products-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2%;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-items {
  display: block;
}
.dropdown-items{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  text-align: left;

}

@media screen and (max-width: 600px) {
  .products-section {
    display: flex;
    flex-direction: column;
  }
  .side-section {
    align-content: center;
    text-align: center;
    width: 90%;
    margin: 5% 0 0 0;
  }
  .products{
    margin: 0;
  }

}