.product-card {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  width: 20vw;
  min-height: 25vw;
  /*border: 1px solid #0d4661;*/
  border-radius:0.12em;
  /* box-shadow: 4px 6px rgb(0,0,0, 0.3); */
  margin:  1.171875vw 0.5vw;
  padding:  1.171875vw 0.390625vw;
}
.product-card button {
  border-color: #0d4661;
}
.card-info {
  color: #0d4661 !important;
}
.card-description {
  bottom: 0;
}
.card-description button {
  display:inline-block;
  background-color: #0d4661;
  padding:0.35em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:20em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color: white;
  text-align:center;
  transition: all 0.2s;
}
.card-description button :hover{
  color:#0d4661;
  background-color:transparent;
}
.card-title {
  color: #0d4661;
  min-height: 4vw;
  padding: 1.171875vw 0.390625vw 0 0.390625vw;
}
.card-image {
  padding: 0 2%;
}

@media screen and (max-width: 700px) {
  .product-card {
    width: 80vw;
    margin: 5% 0;
    padding: 5% 0;
    border: 1px solid #0d4661;
  }
  .prod-img {
    width: 100% !important;
    height: 50vw !important;
  }
}