.product-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  justify-content: space-evenly;
}
.product-page img {
  margin: 50px 0 0 0;
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  height: auto;
}
.product-detail {
  margin: 0 20px;
}

@media screen and (max-width: 600px) {
  .product-page{
    flex-direction: column;
  }
}