.slide-view {
  background-color: #e2d3b7;
}
.products-view {
  background-color: #e2d3b7;
  height: auto;
  min-height: 100vh;
}
.products {
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
}
