iframe {
  overflow:hidden;
  height: 80vh;
  width:100vw;
}
.slide-view {
  background-color: rgb(226,211,183);
}
.products-view {
  background-color: #e2d3b7;
  height: auto;
  min-height: 100vh;
}
.products {
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  margin: 50px 15px;
  padding: 60px;
  flex-direction: row;
  justify-content: space-around;
}
