iframe {
  overflow:hidden;
  height: 80vh;
  width: 50vw;
}
.section {
  height: auto;
  min-height: 100vh;
  padding: 5% 0;
}
.subsection {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
.about-container {
  max-width: 50vw;
  padding: 10% 5% 0 5%;
}
.mision-container {
  max-width: 50vw;
  padding: 5% 0 0 0;
}
@media screen and (max-width: 600px) {
  iframe {
    height: 80vh;
    width: 90vw;
    padding: 0;
  }
  .subsection {
    flex-direction: column;
    justify-content: center;
  }
  .about-container {
    max-width: 100vw;
  }

  .big-logo img{
    width: 80%;
    height: auto;
  }
  .mision-container {
    max-width: 100vw;
    margin: 0 5%;
  }

}