table, td, th {  
  vertical-align: top;  
  text-align: left;
}
table {
  margin: 2% 0;
  border-collapse: collapse;
  width: 100%;
}
th {
  border-bottom: 1px solid black;
  font-size: 16px;
  padding: 0 0 -1% 0;
  color: gray
}
td {
  padding: 20px 2px;
  font-size: 14px;
}

.orders-view {
  min-height: 80vh;
  padding: 0 15%;
}

@media screen and (max-width: 700px) {
  table {
    left: 0;
    min-width: 90vw;
    table-layout: auto;
  }
  .orders-view {
    padding: 0 2px;
  }
}
