.header {
  overflow: hidden;
  background-image: linear-gradient(to top, rgb(226,211,183) , rgb(0,0,0,0.12));
  /* background-color: #f1f1f1; */
  padding: 20px 0;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  padding: 0 12px 15px 12px;
  max-height: 32px;
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: transparent;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: right;
  }
}

.logo-img {
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
}

