.shop-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-item div{
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}