.shop-form div{
  overflow: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-item div{
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
}

.rodal-container {
  position: absolute;
  width: 20px;
  height: 80px;
}
/* 
@media screen and (min-width: 500px) {

} */
