.carousel-img1 {
  width:  85vw;
  height: auto;
  max-height: 100vh;
  object-position: 0 7%;
  object-fit:     cover;
  display: block;
  margin: 0 auto;
}
.carousel-img2 {
  width:  85vw;
  height: auto;
  max-height: 100vh;
  object-position: 50% 30%;
  object-fit:     cover;
  display: block;
  margin: 0 auto;
}
.carousel-img3 {
  width:  85vw;
  height: auto;
  max-height: 100vh;
  object-position: 0 70%;
  object-fit:     cover;
  display: block;
  margin: 0 auto;
}

.slider-spacing{
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #0d4661;
}